## Malaria in Africa - Team Gitops

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(rc={'figure.figsize':(12,6)})
pd.set_option('display.max_columns', 50)
import missingno as msno
# import pycountry

%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [2]:
malaria = pd.read_excel("AfricaMalariaData.xlsx")
climate_data = pd.read_csv('climate_change_data.csv')

### Data Description
- Malaria_data was obtained from several indicators(19) found in [Databank](https://databank.worldbank.org/reports.aspx?source=2&series=SP.RUR.TOTL.ZS&country=#), transformed and merge in power query editor.
- Climate data was obtain from [Kaggle](https://www.kaggle.com/datasets/goyaladi/climate-insights-dataset?select=climate_change_data.csv)

### Data Dictionary


| Indicator Name | Description |
| ----------------------------------------------------------- | ------------------------------------------------------------------------------------------------------------ |
| Rural population (% of total population) | Rural population refers to people living in rural areas as defined by national statistical offices. It is calculated as the difference between total population and urban population. |
| People using at least basic drinking water services (% of population) |  Improved water sources include piped water, boreholes or tubewells, protected dug wells, protected springs, and packaged or delivered water. |
| People using at least basic drinking water services, rural (% of rural population) |  Improved water sources include piped water, boreholes or tubewells, protected dug wells, protected springs, and packaged or delivered water in rural areas. |
| People using at least basic drinking water services, urban (% of urban population |  Improved water sources include piped water, boreholes or tubewells, protected dug wells, protected springs, and packaged or delivered water in urban areas. |
| People using at least basic sanitation services (% of population) |  Improved sanitation facilities include flush/pour flush to piped sewer systems, septic tanks or pit latrines; ventilated improved pit latrines, compositing toilets or pit latrines with slabs. |
| People using at least basic sanitation services, rural (% of rural population) | Improved sanitation facilities include flush/pour flush to piped sewer systems, septic tanks or pit latrines; ventilated improved pit latrines, compositing toilets or pit latrines with slabs in rural areas. |
| People using at least basic sanitation services, urban (% of urban population) |   Improved sanitation facilities include flush/pour flush to piped sewer systems, septic tanks or pit latrines; ventilated improved pit latrines, compositing toilets or pit latrines with slabs in urban areas. |
| People using safely managed drinking water services (% of population) |  The percentage of people using drinking water from an improved source that is accessible on premises, available when needed and free from faecal and priority chemical contamination. |
| People using safely managed drinking water services, rural (% of rural population) |  The percentage of people using drinking water from an improved source that is accessible on premises, available when needed and free from faecal and priority chemical contamination in rural. |
| People using safely managed drinking water services, urban (% of urban population) |  The percentage of people using drinking water from an improved source that is accessible on premises, available when needed and free from faecal and priority chemical contamination urban. |
| People using safely managed sanitation services (% of population) |  The percentage of people using improved sanitation facilities that are not shared with other households and where excreta are safely disposed of in situ or transported and treated offsite. |
| People using safely managed sanitation services, rural (% of rural population) |  The percentage of people using improved sanitation facilities that are not shared with other households and where excreta are safely disposed of in situ or transported and treated offsite rural areas. |
| People using safely managed sanitation services, urban (% of urban population |  The percentage of people using improved sanitation facilities that are not shared with other households and where excreta are safely disposed of in situ or transported and treated offsite urban areas. |
| Children with fever receiving antimalarial drugs (% of children under age 5 with fever) |  Malaria treatment refers to the percentage of children under age five who were ill with fever in the last two weeks and received any appropriate (locally defined) anti-malarial drugs.
| Incidence of malaria (per 1,000 population at risk) |  Incidence of malaria is the number of new cases of malaria in a year per 1,000 population at risk. |
| Urban population (% of total population) |  People living in urban areas as defined by national statistical offices. |
| Literacy rate, adult total (% of people ages 15 and above) |  Percentage of people ages 15 and above who can both read and write with understanding a short simple statement about their everyday life.
| Use of insecticide-treated bed nets (% of under-5 population) |  Use of insecticide-treated bed nets refers to the percentage of children under age five who slept under an insecticide-treated bednet to prevent malaria.
| Death rate, crude (per 1,000 people) |  Crude death rate indicates the number of deaths occurring during the year, per 1,000 population estimated at midyear. |

In [3]:
print(f"This main dataset contains {malaria.shape[0]} rows and {malaria.shape[1]} columns")

This main dataset contains 918 rows and 26 columns

In [4]:
malaria

,Country Code,Country,Income Group,Year,"Incidence of malaria (per 1,000 population at risk)",People using at least basic drinking water services (% of population),"People using at least basic drinking water services, rural (% of rural populatio","People using at least basic drinking water services, urban (% of urban populatio",People using at least basic sanitation services (% of population),"People using at least basic sanitation services, rural (% of rural population)","People using at least basic sanitation services, urban (% of urban population)",Children with fever receiving antimalarial drugs (% of children under age 5 with,"Death rate, crude (per 1,000 people).1","Literacy rate, adult total (% of people ages 15 and above).1",Rural population (% of total population).1,People using safely managed drinking water services (% of population),"People using safely managed drinking water services, rural (% of rural populatio","People using safely managed drinking water services, urban (% of urban populatio",People using safely managed sanitation services (% of population),"People using safely managed sanitation services, rural (% of rural population)","People using safely managed sanitation services, urban (% of urban population)",Urban population (% of total population).1,Use of insecticide-treated bed nets (% of under-5 population).1,Latitude,Longitude,Geometry
0,DZA,Algeria,Lower middle income,2005,0.0,91.1,85.0,94.6,85.8,75.4,91.7,0.0,4.9,0.0,36.2,72.8,56.5,82.0,60.5,50.4,66.2,63.8,0.0,28.033886,1.659626,POINT (28.033886 1.659626)
1,DZA,Algeria,Lower middle income,2006,0.0,91.4,85.4,94.7,86.1,75.7,91.7,0.0,4.9,72.6,35.4,73.2,57.4,81.9,60.8,50.8,66.3,64.6,0.0,28.033886,1.659626,POINT (28.033886 1.659626)
2,DZA,Algeria,Lower middle income,2007,0.0,91.6,85.7,94.7,86.3,76.1,91.7,0.0,4.9,0.0,34.7,73.7,58.3,81.9,61.1,51.2,66.4,65.3,0.0,28.033886,1.659626,POINT (28.033886 1.659626)
3,DZA,Algeria,Lower middle income,2008,0.0,91.8,86.0,94.8,86.5,76.4,91.7,0.0,4.9,75.1,33.9,74.2,59.3,81.8,61.4,51.6,66.4,66.1,0.0,28.033886,1.659626,POINT (28.033886 1.659626)
4,DZA,Algeria,Lower middle income,2009,0.0,92.1,86.4,94.9,86.8,76.7,91.7,0.0,4.7,0.0,33.2,74.6,60.2,81.8,61.7,52.0,66.5,66.8,0.0,28.033886,1.659626,POINT (28.033886 1.659626)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,ZWE,Zimbabwe,Lower middle income,2017,115.2,64.0,50.1,93.3,36.9,32.6,46.0,0.0,8.3,0.0,67.8,26.9,13.6,55.1,33.6,31.3,38.4,32.2,0.0,-19.015438,29.154857,POINT (-19.015438 29.154857)
914,ZWE,Zimbabwe,Lower middle income,2018,53.6,63.5,49.5,93.2,36.4,32.4,44.6,0.0,8.0,0.0,67.8,26.8,13.3,55.2,33.5,31.1,38.7,32.2,0.0,-19.015438,29.154857,POINT (-19.015438 29.154857)
915,ZWE,Zimbabwe,Lower middle income,2019,64.7,63.1,48.9,93.0,35.8,32.2,43.2,0.0,8.0,0.0,67.8,26.7,13.1,55.3,33.0,30.9,37.4,32.2,14.9,-19.015438,29.154857,POINT (-19.015438 29.154857)
916,ZWE,Zimbabwe,Lower middle income,2020,93.4,62.7,48.3,92.9,35.2,32.0,41.8,0.0,8.1,0.0,67.8,26.6,12.9,55.4,32.4,30.6,36.0,32.2,0.0,-19.015438,29.154857,POINT (-19.015438 29.154857)
917,ZWE,Zimbabwe,Lower middle income,2021,27.2,62.3,47.7,92.8,34.6,31.8,40.4,0.0,9.1,0.0,67.7,26.5,12.6,55.5,31.8,30.4,34.7,32.3,0.0,-19.015438,29.154857,POINT (-19.015438 29.154857)

In [5]:
malaria["Country"].unique()

array(['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso',
       'Burundi', 'Cabo Verde', 'Cameroon', 'Central African Republic',
       'Chad', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       "Cote d'Ivoire", 'Djibouti', 'Egypt, Arab Rep.',
       'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon',
       'Gambia, The', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya',
       'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali',
       'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia',
       'Niger', 'Nigeria', 'Rwanda', 'Sao Tome and Principe', 'Senegal',
       'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa',
       'South Sudan', 'Sudan', 'Tanzania', 'Togo', 'Tunisia', 'Uganda',
       'Zambia', 'Zimbabwe'], dtype=object)

In [6]:
malaria.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 26 columns):
 #   Column                                                                            Non-Null Count  Dtype
---  ------                                                                            --------------  -----
 0   Country Code                                                                      918 non-null    object
 1   Country                                                                           918 non-null    object
 2   Income Group                                                                      918 non-null    object
 3   Year                                                                              918 non-null    int64
 4   Incidence of malaria (per 1,000 population at risk)                               918 non-null    float64
 5   People using at least basic drinking water services (% of population)             918 non-null    float64
 6   People using at least basic drinking water services, rural (% of rural populatio  918 non-null    float64
 7   People using at least basic drinking water services, urban (% of urban populatio  918 non-null    float64
 8   People using at least basic sanitation services (% of population)                 918 non-null    float64
 9   People using at least basic sanitation services, rural (% of rural population)    918 non-null    float64
 10  People using at least basic sanitation services, urban (% of urban population)    918 non-null    float64
 11  Children with fever receiving antimalarial drugs (% of children under age 5 with  918 non-null    float64
 12  Death rate, crude (per 1,000 people).1                                            918 non-null    float64
 13  Literacy rate, adult total (% of people ages 15 and above).1                      918 non-null    float64
 14  Rural population (% of total population).1                                        918 non-null    float64
 15  People using safely managed drinking water services (% of population)             918 non-null    float64
 16  People using safely managed drinking water services, rural (% of rural populatio  918 non-null    float64
 17  People using safely managed drinking water services, urban (% of urban populatio  918 non-null    float64
 18  People using safely managed sanitation services (% of population)                 918 non-null    float64
 19  People using safely managed sanitation services, rural (% of rural population)    918 non-null    float64
 20  People using safely managed sanitation services, urban (% of urban population)    918 non-null    float64
 21  Urban population (% of total population).1                                        918 non-null    float64
 22  Use of insecticide-treated bed nets (% of under-5 population).1                   918 non-null    float64
 23  Latitude                                                                          918 non-null    float64
 24  Longitude                                                                         918 non-null    float64
 25  Geometry                                                                          918 non-null    object
dtypes: float64(21), int64(1), object(4)
memory usage: 186.6+ KB

In [7]:
# Check the pattern for missing values
# msno.matrix(malaria)

In [8]:
malaria.columns

Index(['Country Code', 'Country', 'Income Group', 'Year',
       'Incidence of malaria (per 1,000 population at risk)',
       'People using at least basic drinking water services (% of population)',
       'People using at least basic drinking water services, rural (% of rural populatio',
       'People using at least basic drinking water services, urban (% of urban populatio',
       'People using at least basic sanitation services (% of population)',
       'People using at least basic sanitation services, rural (% of rural population)',
       'People using at least basic sanitation services, urban (% of urban population)',
       'Children with fever receiving antimalarial drugs (% of children under age 5 with',
       'Death rate, crude (per 1,000 people).1',
       'Literacy rate, adult total (% of people ages 15 and above).1',
       'Rural population (% of total population).1',
       'People using safely managed drinking water services (% of population)',
       'People using safely managed drinking water services, rural (% of rural populatio',
       'People using safely managed drinking water services, urban (% of urban populatio',
       'People using safely managed sanitation services (% of population)',
       'People using safely managed sanitation services, rural (% of rural population)',
       'People using safely managed sanitation services, urban (% of urban population)',
       'Urban population (% of total population).1',
       'Use of insecticide-treated bed nets (% of under-5 population).1',
       'Latitude', 'Longitude ', 'Geometry'],
      dtype='object')

In [9]:
# rename columns names using dictionary 

mapping = {malaria.columns[4]: 'incidence_rate',
           malaria.columns[5]: '% basic_DW_all',
           malaria.columns[6]: '% basic_DW_rural',
           malaria.columns[7]: '% basic_DW_urban',
           malaria.columns[8]: '% basic_sanitation_all',
           malaria.columns[9]: '% basic_sanitation_rural',
           malaria.columns[10]: '% basic_sanitation_urban',
           malaria.columns[11]: '% death_rate',
           malaria.columns[12]: '% children_with_fever',
           malaria.columns[13]: '% literacy_rate',
           malaria.columns[14]: '% rural_pop',
           malaria.columns[15]: '% safe_DW_all',
           malaria.columns[16]: '% safe_DW_rural',
           malaria.columns[17]: '% safe_DW_urban',
           malaria.columns[18]: '% safe_sanitation_all',
           malaria.columns[19]: '% safe_sanitation_rural',
           malaria.columns[20]: '% safe_sanitation_urban',
           malaria.columns[21]: '% urban_pop',
           malaria.columns[22]: '% insecticide',
          }

malaria = malaria.rename(columns=mapping)

In [10]:
malaria

,Country Code,Country,Income Group,Year,incidence_rate,% basic_DW_all,% basic_DW_rural,% basic_DW_urban,% basic_sanitation_all,% basic_sanitation_rural,% basic_sanitation_urban,% death_rate,% children_with_fever,% literacy_rate,% rural_pop,% safe_DW_all,% safe_DW_rural,% safe_DW_urban,% safe_sanitation_all,% safe_sanitation_rural,% safe_sanitation_urban,% urban_pop,% insecticide,Latitude,Longitude,Geometry
0,DZA,Algeria,Lower middle income,2005,0.0,91.1,85.0,94.6,85.8,75.4,91.7,0.0,4.9,0.0,36.2,72.8,56.5,82.0,60.5,50.4,66.2,63.8,0.0,28.033886,1.659626,POINT (28.033886 1.659626)
1,DZA,Algeria,Lower middle income,2006,0.0,91.4,85.4,94.7,86.1,75.7,91.7,0.0,4.9,72.6,35.4,73.2,57.4,81.9,60.8,50.8,66.3,64.6,0.0,28.033886,1.659626,POINT (28.033886 1.659626)
2,DZA,Algeria,Lower middle income,2007,0.0,91.6,85.7,94.7,86.3,76.1,91.7,0.0,4.9,0.0,34.7,73.7,58.3,81.9,61.1,51.2,66.4,65.3,0.0,28.033886,1.659626,POINT (28.033886 1.659626)
3,DZA,Algeria,Lower middle income,2008,0.0,91.8,86.0,94.8,86.5,76.4,91.7,0.0,4.9,75.1,33.9,74.2,59.3,81.8,61.4,51.6,66.4,66.1,0.0,28.033886,1.659626,POINT (28.033886 1.659626)
4,DZA,Algeria,Lower middle income,2009,0.0,92.1,86.4,94.9,86.8,76.7,91.7,0.0,4.7,0.0,33.2,74.6,60.2,81.8,61.7,52.0,66.5,66.8,0.0,28.033886,1.659626,POINT (28.033886 1.659626)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,ZWE,Zimbabwe,Lower middle income,2017,115.2,64.0,50.1,93.3,36.9,32.6,46.0,0.0,8.3,0.0,67.8,26.9,13.6,55.1,33.6,31.3,38.4,32.2,0.0,-19.015438,29.154857,POINT (-19.015438 29.154857)
914,ZWE,Zimbabwe,Lower middle income,2018,53.6,63.5,49.5,93.2,36.4,32.4,44.6,0.0,8.0,0.0,67.8,26.8,13.3,55.2,33.5,31.1,38.7,32.2,0.0,-19.015438,29.154857,POINT (-19.015438 29.154857)
915,ZWE,Zimbabwe,Lower middle income,2019,64.7,63.1,48.9,93.0,35.8,32.2,43.2,0.0,8.0,0.0,67.8,26.7,13.1,55.3,33.0,30.9,37.4,32.2,14.9,-19.015438,29.154857,POINT (-19.015438 29.154857)
916,ZWE,Zimbabwe,Lower middle income,2020,93.4,62.7,48.3,92.9,35.2,32.0,41.8,0.0,8.1,0.0,67.8,26.6,12.9,55.4,32.4,30.6,36.0,32.2,0.0,-19.015438,29.154857,POINT (-19.015438 29.154857)
917,ZWE,Zimbabwe,Lower middle income,2021,27.2,62.3,47.7,92.8,34.6,31.8,40.4,0.0,9.1,0.0,67.7,26.5,12.6,55.5,31.8,30.4,34.7,32.3,0.0,-19.015438,29.154857,POINT (-19.015438 29.154857)

#### Climate Change Data

In [11]:
climate = pd.read_csv('climate_change_data.csv')
climate.head(5)

,Date,Location,Country,Temperature,CO2 Emissions,Sea Level Rise,Precipitation,Humidity,Wind Speed
0,2000-01-01 00:00:00.000000000,New Williamtown,Latvia,10.688986,403.118903,0.717506,13.835237,23.631256,18.492026
1,2000-01-01 20:09:43.258325832,North Rachel,South Africa,13.814430,396.663499,1.205715,40.974084,43.982946,34.249300
2,2000-01-02 16:19:26.516651665,West Williamland,French Guiana,27.323718,451.553155,-0.160783,42.697931,96.652600,34.124261
3,2000-01-03 12:29:09.774977497,South David,Vietnam,12.309581,422.404983,-0.475931,5.193341,47.467938,8.554563
4,2000-01-04 08:38:53.033303330,New Scottburgh,Moldova,13.210885,410.472999,1.135757,78.695280,61.789672,8.001164

In [12]:
climate.shape

(10000, 9)

In [13]:
africa_climate = climate.loc[climate['Country'].isin(['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso','Burundi',
                'Cabo Verde', 'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.', 
                "Cote d'Ivoire", 'Djibouti', 'Egypt, Arab Rep.','Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 
                'Gabon', 'Gambia, The', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya','Lesotho', 'Liberia', 'Libya', 'Madagascar', 
                'Malawi', 'Mali','Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 
                'Sao Tome and Principe', 'Senegal','Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan',
                'Sudan', 'Tanzania', 'Togo', 'Tunisia', 'Uganda','Zambia', 'Zimbabwe'])]

In [14]:
africa_climate

,Date,Location,Country,Temperature,CO2 Emissions,Sea Level Rise,Precipitation,Humidity,Wind Speed
1,2000-01-01 20:09:43.258325832,North Rachel,South Africa,13.814430,396.663499,1.205715,40.974084,43.982946,34.249300
9,2000-01-08 13:27:29.324932493,North Thomas,Chad,14.121563,410.517072,-1.712224,15.351583,88.422794,47.922521
13,2000-01-11 22:06:22.358235823,Hughesville,Rwanda,15.788181,373.341298,-2.061536,13.361683,56.944885,23.386008
16,2000-01-14 10:35:32.133213321,Port Robertborough,Equatorial Guinea,14.799344,396.997808,-1.086790,23.288764,37.695590,41.688415
19,2000-01-16 23:04:41.908190819,Bakerburgh,Mali,10.874589,415.608633,1.218314,57.990681,15.764407,10.098797
...,...,...,...,...,...,...,...,...,...
9988,2022-12-21 18:13:04.158415744,New Sandra,Algeria,15.292410,363.940234,1.092427,38.633572,50.161462,45.363407
9990,2022-12-23 10:32:30.675067392,Taylorbury,Gabon,16.144944,446.058349,-1.410918,91.810285,31.853808,4.659991
9993,2022-12-25 23:01:40.450044928,South Joseph,Cameroon,17.667267,423.686881,1.033963,66.063186,35.660745,12.749542
9994,2022-12-26 19:11:23.708370816,New Thomas,Mozambique,17.147936,414.475259,-0.046996,20.815504,39.215362,15.988626
9999,2022-12-31 00:00:00.000000000,West Anthonyburgh,Sao Tome and Principe,12.661928,381.172746,2.260788,78.339658,99.243923,41.856539

In [15]:
africa_climate["Country"].nunique()

46

In [16]:
africa_climate.to_csv('climate_change_africa.csv')

In [17]:
africa_climate = pd.read_csv("climate_change_africa.csv")

In [18]:
africa_climate

,Unnamed: 0,Date,Location,Country,Temperature,CO2 Emissions,Sea Level Rise,Precipitation,Humidity,Wind Speed
0,1,2000-01-01 20:09:43.258325832,North Rachel,South Africa,13.814430,396.663499,1.205715,40.974084,43.982946,34.249300
1,9,2000-01-08 13:27:29.324932493,North Thomas,Chad,14.121563,410.517072,-1.712224,15.351583,88.422794,47.922521
2,13,2000-01-11 22:06:22.358235823,Hughesville,Rwanda,15.788181,373.341298,-2.061536,13.361683,56.944885,23.386008
3,16,2000-01-14 10:35:32.133213321,Port Robertborough,Equatorial Guinea,14.799344,396.997808,-1.086790,23.288764,37.695590,41.688415
4,19,2000-01-16 23:04:41.908190819,Bakerburgh,Mali,10.874589,415.608633,1.218314,57.990681,15.764407,10.098797
...,...,...,...,...,...,...,...,...,...,...
1915,9988,2022-12-21 18:13:04.158415744,New Sandra,Algeria,15.292410,363.940234,1.092427,38.633572,50.161462,45.363407
1916,9990,2022-12-23 10:32:30.675067392,Taylorbury,Gabon,16.144944,446.058349,-1.410918,91.810285,31.853808,4.659991
1917,9993,2022-12-25 23:01:40.450044928,South Joseph,Cameroon,17.667267,423.686881,1.033963,66.063186,35.660745,12.749542
1918,9994,2022-12-26 19:11:23.708370816,New Thomas,Mozambique,17.147936,414.475259,-0.046996,20.815504,39.215362,15.988626
1919,9999,2022-12-31 00:00:00.000000000,West Anthonyburgh,Sao Tome and Principe,12.661928,381.172746,2.260788,78.339658,99.243923,41.856539

In [19]:
print(africa_climate["Country"].sort_values().unique())
print(africa_climate["Country"].nunique())

['Algeria' 'Angola' 'Benin' 'Botswana' 'Burkina Faso' 'Burundi' 'Cameroon'
 'Central African Republic' 'Chad' 'Comoros' "Cote d'Ivoire" 'Djibouti'
 'Equatorial Guinea' 'Eritrea' 'Ethiopia' 'Gabon' 'Ghana' 'Guinea'
 'Guinea-Bissau' 'Kenya' 'Lesotho' 'Liberia' 'Madagascar' 'Malawi' 'Mali'
 'Mauritania' 'Mauritius' 'Morocco' 'Mozambique' 'Namibia' 'Niger'
 'Nigeria' 'Rwanda' 'Sao Tome and Principe' 'Senegal' 'Seychelles'
 'Sierra Leone' 'Somalia' 'South Africa' 'Sudan' 'Tanzania' 'Togo'
 'Tunisia' 'Uganda' 'Zambia' 'Zimbabwe']
46

In [20]:
africa_climate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1920 entries, 0 to 1919
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      1920 non-null   int64
 1   Date            1920 non-null   object
 2   Location        1920 non-null   object
 3   Country         1920 non-null   object
 4   Temperature     1920 non-null   float64
 5   CO2 Emissions   1920 non-null   float64
 6   Sea Level Rise  1920 non-null   float64
 7   Precipitation   1920 non-null   float64
 8   Humidity        1920 non-null   float64
 9   Wind Speed      1920 non-null   float64
dtypes: float64(6), int64(1), object(3)
memory usage: 150.1+ KB

In [21]:
# Convert the 'date' column to datetime if it's not already in datetime format
africa_climate['Date'] = pd.to_datetime(africa_climate['Date'])

# Extract the 'year' column from the 'date' column
africa_climate['Year'] = africa_climate['Date'].dt.year

# Subset the data to include only years from 2005 to 2021
africa_climate_subset = africa_climate[(africa_climate['Year'] >= 2005) & (africa_climate['Year'] <= 2021)]

# Split the DataFrame by country
grouped = africa_climate_subset.groupby('Country')["Date", "Temperature", "Precipitation", "Humidity", "Wind Speed"]

# Initialize an empty DataFrame to store the resampled data
resampled_dfs = []

# Iterate through each group (country) and resample the time series data to yearly resolution
for country, group_df in grouped:
    # Resample the time series data to yearly resolution and sum the values
    resampled_df = group_df.resample('Y', on='Date').mean().reset_index()
    
    # Add a 'country' column with the current country name
    resampled_df['Country'] = country
    
    # Append the resampled DataFrame to the list
    resampled_dfs.append(resampled_df)

# Combine all resampled DataFrames into a single DataFrame
africa_climate_new = pd.concat(resampled_dfs, ignore_index=True)

# Fill missing values with 0
africa_climate_new = africa_climate_new.fillna(0)

In [22]:
africa_climate_new["Year"] = africa_climate_new["Date"].dt.year

In [23]:
africa_climate_new.drop(columns="Date", inplace=True)

In [24]:
africa_climate_new.nunique()

Temperature      660
Precipitation    660
Humidity         660
Wind Speed       660
Country           46
Year              17
dtype: int64

In [25]:
africa_climate_new

     Temperature  Precipitation   Humidity  Wind Speed   Country  Year
0      13.504072      10.968121  31.734205    8.769347   Algeria  2005
1       0.000000       0.000000   0.000000    0.000000   Algeria  2006
2       5.783653      74.638687  69.520863   25.478604   Algeria  2007
3       7.554852      86.310334  52.958708    8.661352   Algeria  2008
4      17.102406      44.402714  88.990603   26.639289   Algeria  2009
..           ...            ...        ...         ...       ...   ...
761    11.331474      77.844800  82.059757   24.699471  Zimbabwe  2017
762    13.514309      64.274397  67.200243   32.318263  Zimbabwe  2018
763     0.000000       0.000000   0.000000    0.000000  Zimbabwe  2019
764    17.690752       7.302774  46.634126   30.698054  Zimbabwe  2020
765    16.638985      88.509625  80.140177   14.681265  Zimbabwe  2021

[766 rows x 6 columns]

In [26]:
# Create a pivot table with sum as the aggregation function
pivot_table = pd.pivot_table(africa_climate_new, values=['Temperature', 'Precipitation', 'Humidity', 'Wind Speed'], index='Country', columns='Year', aggfunc='mean', fill_value=0)

normal_df = pivot_table.reset_index()
normal_df.tail()

       Country   Humidity                                              \
Year                 2005       2006       2007       2008       2009
41        Togo   0.000000  73.181082   0.000000  37.720680   0.000000
42     Tunisia   0.000000  65.073717  10.987813  68.726140   0.000000
43      Uganda  66.445066  39.557870  40.007771  59.659015  71.061064
44      Zambia  39.058852  19.343329  69.911205  27.943915  73.699489
45    Zimbabwe  84.637621  82.935361  65.267397   0.000000  53.006882

                                                                        \
Year       2010       2011       2012       2013       2014       2015
41     0.000000   0.000000  61.730457  78.234777  11.049721  95.991481
42     0.000000  83.771781   0.000000  26.936851  26.232351  68.563177
43    27.115879  63.782654  19.752093  49.969562  35.350664  36.245156
44    60.865824   0.000000  40.821889   0.000000  44.611555   0.000000
45     0.000000   0.000000  62.788038  53.008820  66.185496   0.000000

                                                                        \
Year       2016       2017       2018       2019       2020       2021
41    63.889302  42.312771  29.037184  85.699043  60.615155  35.845687
42    96.244077  44.889674   4.058973  50.154000  79.528181  30.428573
43    34.266406  32.035863  89.549945   0.000000   0.000000  10.535036
44    42.061997  16.924386  23.098652  11.520808  29.762889  45.338479
45     0.000000  82.059757  67.200243   0.000000  46.634126  80.140177

     Precipitation                                                         \
Year          2005       2006       2007       2008       2009       2010
41        0.000000  36.869436   0.000000  56.897712   0.000000   0.000000
42        0.000000  85.256403   4.881068  77.526048   0.000000   0.000000
43       23.519262  25.443067  32.744189  37.651787  36.168870  73.066705
44        5.595614  28.686468   2.259173  25.609107  48.803589  23.027473
45       43.180898  25.109887  49.161725   0.000000  74.418893   0.000000

                 ... Temperature                                              \
Year       2011  ...        2014       2015       2016       2017       2018
41     0.000000  ...   18.796785  16.290425  11.126824  12.531665   9.970553
42    32.396517  ...   15.823375  11.440848  15.780500  16.139289  11.855880
43    51.748017  ...    9.353790  17.869590  12.966406  21.556224  12.271019
44     0.000000  ...   19.127783   0.000000  19.913722  15.819389  18.105429
45     0.000000  ...   12.108643   0.000000   0.000000  11.331474  13.514309

                                      Wind Speed                        \
Year       2019       2020       2021       2005       2006       2007
41    16.335278  20.695541   8.111251   0.000000  19.657790   0.000000
42    16.258650  12.109965  17.813247   0.000000  43.826587  42.089392
43     0.000000   0.000000  10.757327  22.343457  15.393006  10.397634
44     5.020545   9.895585   8.764173   2.551066  17.709448  12.984582
45     0.000000  17.690752  16.638985  21.931433  42.483612  29.371254

                                                                        \
Year       2008       2009       2010       2011       2012       2013
41    13.705605   0.000000   0.000000   0.000000  12.674124  47.937468
42    22.052089   0.000000   0.000000  17.309332   0.000000  19.684637
43    20.314838  14.943059  34.695212  24.560116  24.741432  32.998629
44    12.715654  30.134256  32.561467   0.000000  22.901857   0.000000
45     0.000000  34.040420   0.000000   0.000000  20.208926  26.884074

                                                                        \
Year       2014       2015       2016       2017       2018       2019
41    49.248877  16.334928  14.995832  14.531358  14.476728  33.725042
42    21.096688  19.864217  36.572152  27.370838  39.029300  17.489059
43    28.761873  20.186546  25.371733  16.505745   1.955935   0.000000
44    20.742051   0.000000  29.239778  33.104305  27.578445  33.024498
45    20.430332   0.000000   0.000000  24.699471  32.318263   0.000000


Year       2020       2021
41     9.415613  30.595866
42    18.599703  16.173891
43     0.000000  10.582751
44    31.872643  41.700604
45    30.698054  14.681265

[5 rows x 69 columns]

In [27]:
# Unpivot the DataFrame
unpivoted_df = pd.melt(normal_df, id_vars='Country', var_name=['Variable', 'Year'], value_name='Value')

# Display the unpivoted DataFrame
unpivoted_df

           Country    Variable  Year      Value
0          Algeria    Humidity  2005  31.734205
1           Angola    Humidity  2005  61.583924
2            Benin    Humidity  2005  59.062993
3         Botswana    Humidity  2005  77.038247
4     Burkina Faso    Humidity  2005  25.270016
...            ...         ...   ...        ...
3123          Togo  Wind Speed  2021  30.595866
3124       Tunisia  Wind Speed  2021  16.173891
3125        Uganda  Wind Speed  2021  10.582751
3126        Zambia  Wind Speed  2021  41.700604
3127      Zimbabwe  Wind Speed  2021  14.681265

[3128 rows x 4 columns]

In [28]:
pivot_table_new = pd.pivot_table(unpivoted_df, values='Value', index=['Country', 'Year'], columns='Variable', aggfunc='sum')
africa_climate_new = pivot_table_new.reset_index()
africa_climate_new

Variable   Country  Year   Humidity  Precipitation  Temperature  Wind Speed
0          Algeria  2005  31.734205      10.968121    13.504072    8.769347
1          Algeria  2006   0.000000       0.000000     0.000000    0.000000
2          Algeria  2007  69.520863      74.638687     5.783653   25.478604
3          Algeria  2008  52.958708      86.310334     7.554852    8.661352
4          Algeria  2009  88.990603      44.402714    17.102406   26.639289
..             ...   ...        ...            ...          ...         ...
777       Zimbabwe  2017  82.059757      77.844800    11.331474   24.699471
778       Zimbabwe  2018  67.200243      64.274397    13.514309   32.318263
779       Zimbabwe  2019   0.000000       0.000000     0.000000    0.000000
780       Zimbabwe  2020  46.634126       7.302774    17.690752   30.698054
781       Zimbabwe  2021  80.140177      88.509625    16.638985   14.681265

[782 rows x 6 columns]

In [29]:
malaria

,Country Code,Country,Income Group,Year,incidence_rate,% basic_DW_all,% basic_DW_rural,% basic_DW_urban,% basic_sanitation_all,% basic_sanitation_rural,% basic_sanitation_urban,% death_rate,% children_with_fever,% literacy_rate,% rural_pop,% safe_DW_all,% safe_DW_rural,% safe_DW_urban,% safe_sanitation_all,% safe_sanitation_rural,% safe_sanitation_urban,% urban_pop,% insecticide,Latitude,Longitude,Geometry
0,DZA,Algeria,Lower middle income,2005,0.0,91.1,85.0,94.6,85.8,75.4,91.7,0.0,4.9,0.0,36.2,72.8,56.5,82.0,60.5,50.4,66.2,63.8,0.0,28.033886,1.659626,POINT (28.033886 1.659626)
1,DZA,Algeria,Lower middle income,2006,0.0,91.4,85.4,94.7,86.1,75.7,91.7,0.0,4.9,72.6,35.4,73.2,57.4,81.9,60.8,50.8,66.3,64.6,0.0,28.033886,1.659626,POINT (28.033886 1.659626)
2,DZA,Algeria,Lower middle income,2007,0.0,91.6,85.7,94.7,86.3,76.1,91.7,0.0,4.9,0.0,34.7,73.7,58.3,81.9,61.1,51.2,66.4,65.3,0.0,28.033886,1.659626,POINT (28.033886 1.659626)
3,DZA,Algeria,Lower middle income,2008,0.0,91.8,86.0,94.8,86.5,76.4,91.7,0.0,4.9,75.1,33.9,74.2,59.3,81.8,61.4,51.6,66.4,66.1,0.0,28.033886,1.659626,POINT (28.033886 1.659626)
4,DZA,Algeria,Lower middle income,2009,0.0,92.1,86.4,94.9,86.8,76.7,91.7,0.0,4.7,0.0,33.2,74.6,60.2,81.8,61.7,52.0,66.5,66.8,0.0,28.033886,1.659626,POINT (28.033886 1.659626)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,ZWE,Zimbabwe,Lower middle income,2017,115.2,64.0,50.1,93.3,36.9,32.6,46.0,0.0,8.3,0.0,67.8,26.9,13.6,55.1,33.6,31.3,38.4,32.2,0.0,-19.015438,29.154857,POINT (-19.015438 29.154857)
914,ZWE,Zimbabwe,Lower middle income,2018,53.6,63.5,49.5,93.2,36.4,32.4,44.6,0.0,8.0,0.0,67.8,26.8,13.3,55.2,33.5,31.1,38.7,32.2,0.0,-19.015438,29.154857,POINT (-19.015438 29.154857)
915,ZWE,Zimbabwe,Lower middle income,2019,64.7,63.1,48.9,93.0,35.8,32.2,43.2,0.0,8.0,0.0,67.8,26.7,13.1,55.3,33.0,30.9,37.4,32.2,14.9,-19.015438,29.154857,POINT (-19.015438 29.154857)
916,ZWE,Zimbabwe,Lower middle income,2020,93.4,62.7,48.3,92.9,35.2,32.0,41.8,0.0,8.1,0.0,67.8,26.6,12.9,55.4,32.4,30.6,36.0,32.2,0.0,-19.015438,29.154857,POINT (-19.015438 29.154857)
917,ZWE,Zimbabwe,Lower middle income,2021,27.2,62.3,47.7,92.8,34.6,31.8,40.4,0.0,9.1,0.0,67.7,26.5,12.6,55.5,31.8,30.4,34.7,32.3,0.0,-19.015438,29.154857,POINT (-19.015438 29.154857)

In [30]:
malaria_combine = pd.merge(malaria, africa_climate_new, on=['Country', 'Year'], how='inner')

In [31]:
malaria_combine

,Country Code,Country,Income Group,Year,incidence_rate,% basic_DW_all,% basic_DW_rural,% basic_DW_urban,% basic_sanitation_all,% basic_sanitation_rural,% basic_sanitation_urban,% death_rate,% children_with_fever,% literacy_rate,% rural_pop,% safe_DW_all,% safe_DW_rural,% safe_DW_urban,% safe_sanitation_all,% safe_sanitation_rural,% safe_sanitation_urban,% urban_pop,% insecticide,Latitude,Longitude,Geometry,Humidity,Precipitation,Temperature,Wind Speed
0,DZA,Algeria,Lower middle income,2005,0.0,91.1,85.0,94.6,85.8,75.4,91.7,0.0,4.9,0.0,36.2,72.8,56.5,82.0,60.5,50.4,66.2,63.8,0.0,28.033886,1.659626,POINT (28.033886 1.659626),31.734205,10.968121,13.504072,8.769347
1,DZA,Algeria,Lower middle income,2006,0.0,91.4,85.4,94.7,86.1,75.7,91.7,0.0,4.9,72.6,35.4,73.2,57.4,81.9,60.8,50.8,66.3,64.6,0.0,28.033886,1.659626,POINT (28.033886 1.659626),0.000000,0.000000,0.000000,0.000000
2,DZA,Algeria,Lower middle income,2007,0.0,91.6,85.7,94.7,86.3,76.1,91.7,0.0,4.9,0.0,34.7,73.7,58.3,81.9,61.1,51.2,66.4,65.3,0.0,28.033886,1.659626,POINT (28.033886 1.659626),69.520863,74.638687,5.783653,25.478604
3,DZA,Algeria,Lower middle income,2008,0.0,91.8,86.0,94.8,86.5,76.4,91.7,0.0,4.9,75.1,33.9,74.2,59.3,81.8,61.4,51.6,66.4,66.1,0.0,28.033886,1.659626,POINT (28.033886 1.659626),52.958708,86.310334,7.554852,8.661352
4,DZA,Algeria,Lower middle income,2009,0.0,92.1,86.4,94.9,86.8,76.7,91.7,0.0,4.7,0.0,33.2,74.6,60.2,81.8,61.7,52.0,66.5,66.8,0.0,28.033886,1.659626,POINT (28.033886 1.659626),88.990603,44.402714,17.102406,26.639289
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,ZWE,Zimbabwe,Lower middle income,2017,115.2,64.0,50.1,93.3,36.9,32.6,46.0,0.0,8.3,0.0,67.8,26.9,13.6,55.1,33.6,31.3,38.4,32.2,0.0,-19.015438,29.154857,POINT (-19.015438 29.154857),82.059757,77.844800,11.331474,24.699471
778,ZWE,Zimbabwe,Lower middle income,2018,53.6,63.5,49.5,93.2,36.4,32.4,44.6,0.0,8.0,0.0,67.8,26.8,13.3,55.2,33.5,31.1,38.7,32.2,0.0,-19.015438,29.154857,POINT (-19.015438 29.154857),67.200243,64.274397,13.514309,32.318263
779,ZWE,Zimbabwe,Lower middle income,2019,64.7,63.1,48.9,93.0,35.8,32.2,43.2,0.0,8.0,0.0,67.8,26.7,13.1,55.3,33.0,30.9,37.4,32.2,14.9,-19.015438,29.154857,POINT (-19.015438 29.154857),0.000000,0.000000,0.000000,0.000000
780,ZWE,Zimbabwe,Lower middle income,2020,93.4,62.7,48.3,92.9,35.2,32.0,41.8,0.0,8.1,0.0,67.8,26.6,12.9,55.4,32.4,30.6,36.0,32.2,0.0,-19.015438,29.154857,POINT (-19.015438 29.154857),46.634126,7.302774,17.690752,30.698054
781,ZWE,Zimbabwe,Lower middle income,2021,27.2,62.3,47.7,92.8,34.6,31.8,40.4,0.0,9.1,0.0,67.7,26.5,12.6,55.5,31.8,30.4,34.7,32.3,0.0,-19.015438,29.154857,POINT (-19.015438 29.154857),80.140177,88.509625,16.638985,14.681265

In [32]:
malaria_combine["Country"].nunique()

46

In [33]:
malaria_combine.to_csv("malaria_climate_data.csv")

### Contributors
- Oluwafemi Abiona
- Solomon